<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">    
    <link rel="stylesheet" href="/css/admin_index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <table class="users">
           
                <tr>
                    <th>User-email</th>
                    <th>First-name</th>
                    <th>Last-name</th>
                    <th>Actions</th>
                </tr>
            
            <tbody>
                <% for(var i=0; i<users.length;i++) { %>
                    <tr id="row_<%=i%>"> 
                      <!-- <td><%= users[i].email%></td>
                      <td><%= users[i].firstname%></td>
                      <td><%= users[i].lastname%></td>  -->
                      <!-- <td id="delete-button"> <a href="/user/admin/delete/<%=users[i]._id%>"> Delete</td>
                      <!-- <td class="edit-button" id="edit_"+<%=users[i]._id%>Edit</td> -->
                      <!-- <td id="update-button_<%=i%>"> <a href="/user/login/admin/edit/<%=users[i]._id%>">Edit </td> -->
                        <td class="id">  <%=users[i].email%></td>
                        <td class="firstname"> <%=users[i].firstname%></td>
                        <td class="lastname">  <%=users[i].lastname%></td>
                        <td id="delete-button_<%=i%>"> <a href="/user/login/admin/delete/<%=users[i]._id%>">Delete </td>
                        <td id="edit-button_<%=i%>">  <a href="/user/login/admin/edit/<%=users[i]._id%>">Edit </td>
                    </tr>
                  <% } %>
            </tbody>
        </table>    
        <div class="search">
            <form action="/user/login/admin/search" method="POST">
        
        <input type="text" placeholder="search by name" name="input_name">
        <input type="submit" value="SEARCH" id="search-btn">
        </form>
        </div>
        
        <!-- <button id="get-button">Get users</button> -->

        <!-- <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First-name</th>
                    <th>Last-name</th>
                </tr>
            </thead>
            <tbody id="allusers">

            </tbody>
        </table> -->
    </div>
   <script>
   
//    $(document).ready(function(){
//         $('#get-button').on('click',function(){
//            $.ajax({
//                url:'/user/login/admin/allusers',
//                contentType:"application/json",
//                success:function(response){
//                   var tBody = $('#allusers');
//                   tBody.html('');
//                   response.user.forEach(function(user){
//                       tBody.append(
//                           '\
//                         <tr>\
//                             <td class="id">' + user.email + '</td>\
//                             <td><input type="text" class="name" value="' + user.firstname + '"></td>\
//                             <td><input type="text" class="name" value="' + user.lastname + '"></td>\
//                             <td>\
//                                 <button class="update-button">UPDATE/PUT</button>\
//                                 <button class="delete-button">DELETE</button>\
//                             </td>\
//                         </tr>\
//                     '
//                       )
//                   })
//                }
//            })
//         })
//    })

    $(document).ready(function(){
        $('table').on('click','.update-button',function(){
            // console.log('called...');
                var row = $(this).closest('tr');
                var id = row.find('.id').text();
                var newFirstName = row.find('.firstname').val();
                var newLastName = row.find('.lastname').val();

                $.ajax({
                    url:'/user/login/admin/edit/',
                    method:"PUT",
                    contentType:"application/json",
                    data:JSON.stringify({newFirstName:newFirstName},{newLastName:newLastName}),
                    success:function(response){
                        console.log(response);
                    }
                })
        })
    })
   </script>
    
</body>
</html>