<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">    
    <link rel="stylesheet" href="/css/admin_index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <table class="users">
           
                <tr>
                    <th>User-email</th>
                    <th>First-name</th>
                    <th>Last-name</th>
                    <th>Actions</th>
                </tr>
            
            <tbody>
                <% for(var i=0; i<users.length;i++) { %>
                    <tr id="row_<%=i%>"> 
                    
                        <td id="<%=i%>" contenteditable="true"> <p> <%=users[i].email%></p></td>
                        <td class="firstname" contenteditable="true"> <%=users[i].firstname%></td>
                        <td class="lastname" contenteditable="true">  <%=users[i].lastname%></td>
                        
                        <td id="delete-button_<%=i%>"> <a href="/user/login/admin/delete/<%=users[i]._id%>">Delete </td>
                        
                        <form >
                        
                         <td id="save-button_<%=i%>"> <button formaction="/user/login/admin/edit/<%=users[i]._id%>" >Edit</button></td>
                        </form>
                        <form>
                                <td id="save-button_<%=i%>"> <button formaction="/user/login/admin/update/<%=users[i]._id%>" >Update</button></td>
                        </form>
                        
                        
                    </tr>
                  <% } %>
            </tbody>
        </table>    
        <div class="search">
            <form action="/user/login/admin/search" method="POST">
        
        <input type="text" placeholder="search by name" name="input_name">
        <input type="submit" value="SEARCH" id="search-btn">
        </form>
        <!-- </div>
        
        <!-- <button id="get-button">Get users</button> -->

        <!-- <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First-name</th>
                    <th>Last-name</th>
                </tr>
            </thead>
            <tbody id="allusers">

            </tbody>
        </table> -->
    <!-- </div> -->
   <script>
        function myFunction(){
            console.log('called..');
            console.log("row_<%=i%>");
            var a = "<%=i%>";console.log(a);
            var m=document.getElementById("row_"+a);
            console.log(m);
        }

   </script>
    
</body>
</html>